<table>
<% @employments.each do |employment| %>
  <tr>

    <td><%= link_to employment.user.name, employment.user %></td>
    <td><%= employment.title.present? ? ' is a ' + link_to(employment.title, employment) + ' at ' : ' is ' + link_to('at', employment) %></td>
    <td><%= link_to employment.company.name, employment.company %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New employment', new_employment_path %>