<h1>favorites</h1>
<table>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= link_to favorite.favorite.name, favorite.favorite %></td>
    <td><%= favorite.favorite_type %></td>
    <td><%= link_to '[remove]', favorite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favorite', new_favorite_path %>