<h1>following activity</h1>

<table>
  <tr>you are following:</tr>
<% @followerships.each do |followership| %>
  <tr>
    <td><%= link_to followership.followed.name, followership %></td>
  </tr>
<% end %>
<tr><td>following you:</td></tr>
<% @following.each do |f| %>
  <tr><td><%= link_to f.follower.name, f %></td></tr>
<% end %>

</table>

<br />

