<p>
  <%= link_to @followership.follower.name, @followership.follower unless current_user == @followership.follower %>
  <%= link_to @followership.followed.name, @followership.followed unless current_user == @followership.followed %>
</p>

<p id="security">
<%= link_to_remote '[block]', :url => followership_path(@followership, :followership => {:status => 'blocked'}), :method => :put, :target => 'security' if current_user == @followership.followed && @followership.status == 'following' %></p>