<p>
  <b>Project:</b>
  <%=h @call.project.name %>
</p>

<p>
  <b>Role:</b>
  <%=h @call.role.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @call.location.name %>
</p>

<p>
  <b>Time:</b>
  <%=h @call.time %>
</p>
