<div class='project'>
  <%= link_to project.name, project, :class => 'name' %>
  <% project.roles.each do |role| %>
    <%= link_to role.name, project_role_calls_path(project, role) %>
  <% end %>
</div>
