<div id="projects">
  <% @projects.each do |project| %>
    <div class='project'>
      <%= link_to project.name, project %>
      <% project.roles.each do |role| %>
        <%= link_to role.name, project_role_calls_path(project, role) %>
      <% end %>
    </div>
  <% end %>
</div>

<br />

<%= link_to 'my new project', new_project_path, :class => 'new' %>
<%= link_to 'my projects', user_projects_path(current_user) %>
<div class="cleardiv"></div>