<div id="projects">
  <% @projects.each do |project| %>
    <div class='project'>
      <%= link_to project.name, project %>
    </div>
  <% end %>
</div>

<br />

<%= link_to 'New project', new_project_path, :class => 'new' %>
<div class="cleardiv"></div>