<h2 class='project'>
  <%=h @project.name %>
</h2>

<p class='project'>
  <%=h @project.description %>
</p>


<%= link_to 'edit', edit_project_path(@project) if current_user.andand.==(@project.creator) %>