<table id="involvements">
<% @involvements.each do |involvement| %>
  <tr>
    <td><%= link_to involvement.participant.name, involvement.participant, :class => involvement.participant_type.downcase %></td>
    <td><%= link_to 'is involved in', involvement %></td>
    <td><%= link_to involvement.project.name, involvement.project %></td>
  </tr>
<% end %>
</table>
