<h1>participating cities</h1>

<table>
<% @cities.each do |city| %>
  <tr>
    <td><%= link_to city.name, city %></td>
    <td><%= link_to city.state.name, city.state %></td>
  </tr>
<% end %>
</table>