<h1>get it straight</h1>

<% form_for(@detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.wysihat_editor :content, :size => '38x3' %>
  </p>
  
  <p>
    <%= f.submit 'and up to date' %>
  </p>
<% end %>